name: Frontend CI

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  frontend-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node and Install pnpm
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "pnpm"
          registry-url: 'https://registry.npmjs.org'

      - name: Install pnpm via npm
        run: npm install -g pnpm@9

      - name: Install dependencies
        run: pnpm install

      - name: Build
        env:
          VITE_API_BASE_URL: http://localhost:8000/api/v1
        run: pnpm build